* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#head {
    height: 104px;
    background-color: #2b3d4f;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.head {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: bold;
    transition: all 0.3s ease;
}

.nav a:hover {
    color: #1abc9c
}

.logo {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.human {
    height: 730px;
    background-color: #1abc9c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px;
}

.img {
    width: 240px;
    height: 254px;
}

.MainText {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 30px;
}

.Star {
    display: flex;
    gap: 20px;
}

.leftLine,
.rightLine {
    width: 120px;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
}

.otherTxt {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 18px;
}

.portStar {
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-top: 80px;
}

.port {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #2c3e50;
}

.leftLine2,
.rightLine2 {
    width: 120px;
    height: 4px;
    background-color: #2c3e50;
    border-radius: 5px;
}

.choose {
    margin-top: 0px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
}

.box,
.box img {
    width: 370px;
    height: 270px;
    border-radius: 5%;
}

.aboutPanel {
    height: 448px;
    background-color: #1abc9c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.about {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: #fff;
}

.aboutTxt {
    display: flex;
    gap: 50px;
}

.txtBox {
    width: 295px;
    height: 210px;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
}

.downloadButton {
    width: 232px;
    background-color: #1abc9c;
    border: 2px solid #fff;
    border-radius: 5%;
    font-size: 18px;
    padding: 15px;
    color: #fff;
    font-family: "Lato", sans-serif;
}

.ContactPanel {
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-top: 80px;
}

.Contact {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    height: 88px;
    font-size: 20px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid gray;
    outline: none;
}

#foot {
    height: 302px;
    background-color: #2c3e50;
}

.footAbout {
    display: flex;
    padding: 80px;
    justify-content: space-between;
}
.tbox{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.headerT {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: bold;
    transition: all 0.3s ease;
    text-align: center;
}

.mainT {
    width: 260px;
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: bold;
    transition: all 0.3s ease;
    text-align: center;
}
.tbox a{
    color:#1abc9c;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.logobutton{
    display: flex;
    gap: 10px;
}
.logobutton button{
    background-color: #2b3d4f;
    border: 2px solid white;
    width: 52px ;
    height: 52px ;
    border-radius: 50%;
}
.copyright{
    display: flex;
    background-color: #1a252f;
    height: 72px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
}